"*":
  "atom-beautify":
    _analyticsUserId: "a8d4cd5a-6a06-4d1f-b0b9-b1058e12dbe0"
  "autocomplete-python":
    pythonExecutable: "python3"
  core:
    disabledPackages: [
      "Hydrogen"
      "autocomplete-python"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "030de160-1816-9b75-d0e6-d198d8c80f99"
  "haskell-ghc-mod": {}
  "language-babel":
    suppressTranspileOnSaveMessages: true
  linter:
    showErrorPanel: false
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-flake8": {}
  "linter-jshint": {}
  react: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
